/*ページ全体のスタイル*/
body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin:0;
    padding : 20px;
}

/*コンテナのスタイル*/
.kanban-board{
    display: flex;
    gap:20px;
    align-items: flex-start;
    justify-content: center;
}

.column{
    width: 300px;
    background: #ccc;
    border-radius: 8px;
    padding-bottom: 20px;
}

.task-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}

.task-card{
    background: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
}


/*見出しのスタイル*/


h2{
    color: black;
    margin-top: 20px;
}

button{
    /* --- 既存のコード --- */
    border: 1px solid #333; 
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 20px;
    font-size: 30px;
    color: #333;
    transition: all 0.1s;
}

button:hover{
    background-color: #d0d0d0;
    cursor: pointer;
}

button:active{
     background-color: #b0b0b0;
     transform: scale(0.95);
}

/* button:focus{
    outline: 2px solid #007bff;
} */


